.chat-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #4a69bd;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chat-header h1 {
    margin: 0;
    font-size: 1.5rem;
}

.user-controls {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.username {
    font-size: 0.9rem;
}

.logout-button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1vh;
}

.logout-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.chat-container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.chat-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.chat-info {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
    text-align: center;
    width: 100%;
}

.chat-info h2 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
}

.no-chat-selected-message {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: #7f8c8d;
    font-size: 1.1rem;
    text-align: center;
    padding: 2rem;
}